#preview{
    width: 100%;
  }
  .reviewer-name{
    padding-right: 10px;
  }
  .modal-body img{
    width: 55%;
    margin-left: 25%;
  }
  .product-name{
    text-align: center;
  }
  .description{
    text-align: center;
  }
  .readmore{
    padding-left: 80%;
  }
  